@*@model IEnumerable<OdeToFood.Models.RestaurantReview>
@{
    ViewData["Title"] = "Index";
}
@section featured {
    We are showing the latest @Model.Count() reviews.
}
<h1>The Latest Reviews</h1>

@foreach (var item in Model)
{

    <partial name="_review" model="item" />
}

<p>
    <a asp-action="Create">Create New</a>
</p>*@
