@model IEnumerable<RestaurantListViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>Number of reviews: @item.CountOfReviews</div>
        <hr />
    </div>
}