@model IPagedList<RestaurantListViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<form method="get"
      action="@Url.Action("Index")"
      data-otf-ajax="true"
      data-otf-target="#restaurantList">
    <input type="search" name="searchTerm"
           data-otf-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" />
</form>


<partial name="_Restaurants" model="Model" />